{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        Сторінка пошуку договорів
    </h1>
    <div>
        {{ form_start(form) }}

        {{ form_row(form.contractNumber) }}

        {{ form_row(form.nameContract) }}

        <button type="submit" class="btn btn-primary">Show!</button>

        {{ form_end(form) }}
    </div>



    {% if showContractDetails == true %}
        <div>
            <div>
                <span>
                    Договір №
                    {{ showContractDetails.getContractNumber() }}
                </span>
            </div>
            <div>
                <span>
                    {{ showContractDetails.getNameContract() }}
                </span>
            </div>
            <div>
                <span>
                    Перелік контактних номерів телефонів:
                </span>
                <ul>
                    {% for dep in showContractDetails.getTelephoneNumbers() %}
                        <li>
                            {{ dep }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}


{% endblock %}