{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        Сторінка додавання оголошення
    </h1>
    <div>

        {{ form_start(formPost) }}

        {{ form_row(formPost.titlePost) }}

        {{ form_row(formPost.nameMainImagePost) }}

        {{ form_row(formPost.textPost) }}

        {{ form_end(formPost) }}
    </div>

{% endblock %}